<!-- Post  -->
<% posts.forEach(function(post) { %>
<div class="post"> 
    <div class="image_thumbnail">
        <img class="post_img" src="https://randomuser.me/portraits/med/men/1.jpg" alt="Profile Picture"/> 
    </div>
    <div class="post_details">
        <div class="post_header">
            <h3 class="float_left"><%=post.subject%></h3>
            <h3 class="float_right"><%=post.topic%></h3>
        </div>
        <div class="post_middle">
            <p><%=post.content%></p>
        </div>
        <div class="post_footer">
            <p class="float_left"><%=post.time%></p>
            <p class="float_right"><%=post.num_replies%> replies</p>
        </div>
    </div>    
</div>
<% }); %>


<!-- Hidden Comments -->