<!-- Post  -->
<div class="post"> 
    <div class="post_content">
        <div class="image_thumbnail">
            <img class="post_img" src="https://randomuser.me/portraits/med/men/1.jpg" alt="Profile Picture"> 
        </div>
        <div class="post_details">
            <div class="post_header">
                <h3 class="post_subject"><%= post.subject %></h3>
                <div class="post_topic"><h3><%= post.topic %></h3></div>
            </div>
            <div class="post_middle">
                <p><%= post.content %></p>
            </div>
            <div class="post_footer">
                <p><%= post.time%></p>
                <p><%= post.num_replies %> replies</p>
            </div>
        </div>
    </div>

    <div>
        <!-- Replies -->
        <div>
            <!-- Image -->
        </div>
        <p>
            <!-- Content -->
        </p>
    </div>

    <div>
        <!-- Reply Form -->
        <div>
            <!-- Message -->
            <!-- Button -->
        </div>
    </div>
</div>
<!-- Hidden Comments -->