<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Knowledge Base | Login</title>
        <meta name="description" content="Knowledge Base | Conversations">
        <meta name="author" content="Siya Peng">

        <link rel="stylesheet" href="/css/conversations.css">
        <script src="/js/conversationsJS.js" defer></script>
        <script src="/js/script.js" defer></script>
    </head>

    <body>
        <div class = "search_part">
            <input type="text" placeholder="&#xf002 Search">
            <button>Logout</button>
        </div>  
        <div class = "wrapper">
            <div class="user_list">
                <% for(var i=0; i<allthreads.length; i++) {%>
                <div tabindex ="-1" class= "user" onclick="getMessagesFromThread(this,<%=allthreads[i].thread_id%>,<%=allthreads[i].user_id%>)">
                    <div class = "photo">
                        <img src="/test.jpg" alt="profile image">
                    </div>
                    <div class="user_info">
                        <p><%=allthreads[i].user_name%></p>
                        <p><%=allthreads[i].thread_subject%></p>
                    </div>
                    <div class="date">
                        <p><%=allthreads[i].date%></p>
                    </div>
                </div>
                <%}%>
                <!-- <div tabindex ="-1" class= "user">
                    <div class = "photo">
                        <img src="/test.jpg" alt="profile image">
                    </div>
                    <div class="user_info">
                        <p>Vivian Wang</p>
                        <p>New role</p>
                    </div>
                    <div class="date">
                        <p>Sep 18</p>
                    </div>
                </div>  -->
            </div>
            <div class="container">
                <div class="message_list">
                    <!-- {{#each allmessages}}
                    <p><span>{{this.date}}</span></p>
                    <div class="content_photo">
                        <img src="/test.jpg" alt="profile image">
                        <div class="content">
                            <span>{{this.user_name}} &nbsp;&nbsp;&#x2022;</span><span class="message_time">{{this.time}}</span>
                            <p>{{this.message_content}}</p>
                        </div>
                    </div>
                    {{/each}} -->
                    <!-- <p><span>Sep 4</span></p>
                    <div class="content_photo">
                        <img src="/test.jpg" alt="profile image">
                        <div class="content">
                            <p>Vivian Wang</p>
                            <p>sssssssss</p>
                        </div>
                    </div>
                    <p><span>Sep 4</span></p>
                    <div class="content_photo">
                        <img src="/test.jpg" alt="profile image">
                        <div class="content">
                            <p>Vivian Wang</p>
                            <p>sssssssss</p>
                        </div>
                    </div>
                    <p><span>Sep 4</span></p>
                    <div class="content_photo">
                        <img src="/test.jpg" alt="profile image">
                        <div class="content">
                            <p>Vivian Wang</p>
                            <p>sssssssss</p>
                        </div>
                    </div> -->
                </div>
                <!-- <form method="POST" action="/conversation/{{thread_id}}/post/{{message_user}}"> -->
                <textarea rows="4" cols="170" name="message" placeholder="Write a message..." onkeyup="sendMessage()"></textarea>
                <input id = "msg_btn" type="submit" value="Send" onclick="addMessage(<=%thread_id>, <=%message_user>)" disabled>
            </div>
        </div>
    </body>

</html>
