<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Knowledge Base | Login</title>
    <meta name="description" content="Knowledge Base | Login">
    <meta name="author" content="Hao Tang">

    <script src="/js/posts.js" defer></script>
    <link rel="stylesheet" href="/css/user_profile.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/post_comment.css">
    <link rel="stylesheet" href="/css/searchbar.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/searchbar') %>
    <div id='profile' class="row">
        <div class="col-lg-8 picture_box">
            <img id="profile_img" src="<%= profile.user_avatar_path %>" alt="Profile Picture"/> 
        </div>
        <div class="col-lg-4 message_box">
            <!-- <button class="btn-primary">Messages</button> -->
            <a href="/thread/<%= profile.user_id %>" method="GET"><div id="msg_btn">Message</div></a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h4><%=profile.user_firstname%> <%=profile.user_lastname%></h4>
            <h5><%=profile.user_bio%></h5>
            <h6><%=profile.user_country%></h6>
        </div>
        <div class="col-lg-4">
            <%if (profile.has_like == null) { %>
            <a href="/profile/<%=profile.user_id%>/like" method="GET">
            <% } %>
                <h6><%=profile.like_count%> Likes</h6>
            <%if (profile.has_like == null) { %>
            </a>
            <% } %>
            <h6><%=profile.post_count%> Posts</h6>
        </div>
    </div>


    <div class="col-lg-12 posts_header">
        <h3>All posts by <%=profile.user_firstname%></h3>
    </div>

    <div class="col-lg-8">
        <%- include('partials/posts_container', {posts: posts}); %>
    </div>
</body>

</html>